@import "tailwindcss";
@theme {


/* --color-*:initial; */
--color-white:#fff;
--color-purple:#3f3cbb;
--color-midnight:#121063;
--color-tahiti:#3ab7bf;
--color-bermuda:#78dcca;
--text-large:50px;
--animate-somes:somes 1s ease-in infinite;
@keyframes somes{
    10%{
        color:red;
    }
    50%{
        color:green;
        transform:rotate(180deg)
    }
}

}
@layer base{
    h1{
        @apply text-3xl;
    }
    h2{
        @apply text-2xl;
    }
    h3{
        @apply text-xl;
    }
}
    /* p{
        @apply text-amber-100;
    } */
/* } */ 