@import "tailwindcss";
@theme {


/* --color-*:initial; */
--color-white:#fff;
--color-purple:#3f3cbb;
--color-midnight:#121063;
--color-tahiti:#3ab7bf;
--color-bermuda:#78dcca;
--text-large:50px;

}
@layer base{
    h1{
        @apply text-3xl;
    }
    h2{
        @apply text-2xl;
    }
    h3{
        @apply text-xl;
    }
}
    /* p{
        @apply text-amber-100;
    } */
/* } */ 